body {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url(https://s3-alpha-sig.figma.com/img/9692/e49a/b68a62573224fdce958545e18966a88d?Expires=1694390400&Signature=CHgihh3~oplqxVmbAVU3XlDOFR9fbP9N74y9cY065FAAeTEe1PzCI4Fy-yVLSlbvysABXfmv8FziFLwW2cb-eMnloBrZFlwnaNQVGv6irATRFneuWQtgKivu3tEgLcC0jraPKFh3nk3AIWW~5NC9BPLy1S4R9JqVm2cZtNqij0st3DngHn6W94XCV8HU2x64eZH6OIAhDaFw4SP3qJWeRdu3qbZh4d5VkBdtygwgcskNYFF4~9upHLR0cXUTkFPHwrB-eJjAByWY~R43LP6zAgsIpBjfOwucV1Y26Ap~m3xmt5ynsqKtqI8LrqdYNpxeMt76ttq7ZjIUvK~4kQA82A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  padding-left: 161px;
  width: 53px;
  height: 47px;
}

.company-name {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  font-family: "Roboto", sans-serif;
}
.milan {
  font-size: 29px;
  line-height: 29px;
  position: relative;
}

.holidays {
  font-size: 18px;
  line-height: 18px;
}
.contacts {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  font-size: 18px;
  line-height: 18px;
  padding-right: 177px;
  font-family: "Roboto", sans-serif;
}
.email {
  padding-bottom: 19px;
}
.header {
  display: flex;
  padding-top: 51px;
  position: relative;
}
.header a:hover {
  color: rgba(242, 101, 34, 1);
}
.container {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(2, 220px);
  column-gap: 61px;
  padding-left: 165px;
  padding-right: 178px;
  row-gap: 78px;
  padding-top: 22px;
}

.first-link {
  grid-column-start: 1;
  grid-column-end: 2;
}
.two-link {
  grid-column-start: 2;
  grid-column-end: 3;
}
.three-link {
  grid-column-start: 3;
  grid-column-end: 4;
}

.four-link {
  grid-column-start: 1;
  grid-column-end: 2;
}
.five-link {
  grid-column-start: 2;
  grid-column-end: 3;
}
.six-link {
  grid-column-start: 3;
  grid-column-end: 4;
}
.container-relative {
  position: relative;
}
.container-relative:hover + .text {
  color: #f26522;
}

.inner-layer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  opacity: 0;
}
.inner-layer:hover {
  opacity: 1;
}
.details span {
  margin-left: 16px;
 
}
.inner-layer .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: auto;
  height: 55px;
  background-color: rgba(242, 101, 34, 1);
}


.details:nth-child(2) {
  font-size: 20px;
  font-weight: 400;
}
.details :nth-child(3) {
  position: absolute;
  font-size: 14px;

  left: 184px;
}

.text {
  position: relative;
  text-align: center;
}
.text:hover {
  color: #f26522;
}
.footer {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 90px;
}
.foot-text {
  font-size: 12px;
}
p {
  font-size: 18px;
  line-height: 18px;
}
